<!DOCTYPE html>
<head>
<div class="container custom1"  >
    <div class="navbar" id="topNavi">
        <div class="navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Our Mission</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-unit">
        <h1>Plan without action is a daydream. Action without a plan is a nightmare.</h1>

        <p> - ancient japanese proverb</p>

        <a href="#" class="btn btn-large btn-info">Donate</a>
    </div>
    <div class="inner">
        <h2 class="ourMission">
            <p>We're a non-profit organization on a mission
            to train forthcoming CEO's everywhere for a successful economic future.
            <p>
        </h2>
        <div class="row">
            <div class="span4" >
                <div class="box" id="classroom">
                    <!--<a href="#" class="btn"><i class="icon-user"></i> Our Clients</a>-->
                </div>
                <h4 class="muted text-center">Learn principles of start up business</h4>
            </div>
            <div class="span4">
                <div class="box" id="action">
                    <!--<a href="#" class="btn btn-success"><i class="icon-star icon-white"></i> Our Employees</a>-->
                </div>
                <h4 class="muted text-center">Put them into action</h4>
            </div>
            <div class="span4" >
                <div class="box" id="startBiz">
                    <!--<a href="#" class="btn"><i class="icon-user"></i> Our Clients</a>-->
                </div>
                <h4 class="muted text-center">Then Ready Set Go!</h4>
            </div>
        </div>
    </div>
    <div class="footer">
        <p> Millionaires of Tomorrow &copy; 2014</p>
    </div>
</div>



<!--We're a non-profit organization on a mission to-->
<!--to advance the knowledge of business in our youth to train forthcoming CEO's-->
<!--and business people everywhere for a successful economic future.-->