<!--<h1>Millionaires of Tommorrow</h1>-->
<!--<center> <p> Mission statement: The mission of Millionaires of Tomorrow is-->
    <!--to advance the knowledge of business in our youth to train forthcoming CEO's-->
    <!--and business people everywhere for a successful economic future </p><center>-->
<head>
    <link rel="stylesheet" href="app/assets/stylesheets/build/home.css">

</head>

<div class="container">
    <header>
        <nav role="navi">
            <ul>
                <li>
                    <a href="#">MoT</a>
                </li>
                <li>
                    <a href="#">Our Mission</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Donate</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="imageBack">
        <div class = "blur"></div>
        <div id="quote">
            <h1 text>Great Quote </h1>
            <p></p>
            Learn more
        </div>
    </section>

</div>

</div>

<div></div>