

.container.custom1
  box-shadow 2px 0px 3px #888888
  width 1100px

.container .container
  box-shadow none
  border 0 none

.container #topNavi.navbar
  margin-bottom 0

.navbar-inverse .navbar-inner
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px

.hero-unit
  /*background-image url('http://humbleinsights.files.wordpress.com/2013/03/journey.jpg')*/
  /*background url('../../assets/images/youngAdultClassroom.jpg')*/
  background-image url('http://i846.photobucket.com/albums/ab28/jagaines28/2582a028-52a4-4c9b-9d41-b3d3b749f4ab_zps3e66ac55.jpg')
  p
    color black

  background-size cover

.container .hero-unit h1
  font-size 40px

.container .hero-unit p
  font-style italic

.container .hero-unit
  -webkit-border-radius 0
  -moz-border-radius 0
  border-radius 0
  color white
  text-align right
  height: 290px;

 .footer
  font-size: 11px
  color white
  background-color #212121

fontSize = 14px

.container.custom1 .inner .row
  position relative
  left 5%
  margin-top: 29px;
  margin-bottom: 35px;
  min-height 250px

.span4
  height 200px
  margin 0 10px
  max-width: 300px
  h4
    position relative
    bottom 0

.container .inner .row .span4 .box
  background-size cover
  height 100%


#classroom
  background url('http://i846.photobucket.com/albums/ab28/jagaines28/02c0b5c9-b28a-4293-9fe7-341a381a0462_zpsb6a6f1cc.jpg')

#startBiz
  background url('http://i846.photobucket.com/albums/ab28/jagaines28/f408b0db-a42a-458f-a077-bee5d5949e97_zpse595b7a4.jpg')

#action
  background url('http://i846.photobucket.com/albums/ab28/jagaines28/3e8ea0fe-47d0-41c3-bbfd-a4ce004afc6d_zpsa871d04f.jpg')

h2.ourMission
  font normal normal lighter 21px normal
  color #9a9b91
  text-align center
  padding 0px 100px
  p
    position relative











