body
  margin 0

.imageBack
  height 400px
  background-image url('http://humbleinsights.files.wordpress.com/2013/03/journey.jpg')
  background-size cover
  color white
  #quote
    position relative
    top: 40%
    text-align right
    right 10%



